* {
  box-sizing: border-box;
}

header, aside, span{
  display: block;
  }

body{
  background-color:#f7fca1;
  margin: 0;
}

header{
  background:#a3c3f7;
  padding: 20px;
}

form {
  padding: 25px 0px 40px 40px;
}

.form-submit{
  background-color:#f7fca1;
  color: #0000FF;
}

h3 {
  margin: 0;
  font-family: sans-serif;
  font-size: 28px;
}

span {
  padding: 5px 0;
}

.cart{
  float: right;
  margin-top: 6%;
  margin-right: 5%;
}

#quantity {
  margin-bottom: 30px;
}

#header{
  font-family: 'Patua One',monospace;
  text-align:center;
  font-size: 60px;
  color:#13265b;
  padding: 40px;
  box-shadow: 0 12px 16px 0 rgba(113,24,245,0.24),0 17px 50px 0 rgba(113,24,245,0.19);
}

#funkyBus{
  float:right;
  width:70%;
  padding-right: 120px;
}

button{
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #E0FFFF;
  background-color: #0000FF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
  box-shadow: 0 12px 16px 0 rgba(113,24,245,0.24),0 17px 50px 0 rgba(113,24,245,0.19);
}

.prodInfo{
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  float: right;
  padding: 50px 100px 0 0;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-size: 60px;
  font-family: 'Patua One',monospace;
}

h2 {
  font-size: 28px;
  font-family: 'Patua One',monospace;
}

.remove{
  background-color:#0000FF;
  border: none;
  color: #E0FFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 100px 0 0;
  float: right;
}
.remove:hover {
  box-shadow: 0 12px 16px 0 rgba(113,24,245,0.24),0 17px 50px 0 rgba(113,24,245,0.19);
}

p {
  font-size: 30px;
}

img {
  width: 600px;
  margin-bottom: 50px;
  padding: 50px 0 0 100px;
}
