

#heading {
  background:#a3c3f7
  font-family: 'Patua One',monospace;
  text-align:center;
  font-size: 40px;
  color:#13265b
}
#funkyBus{
  float:right;
  width:40%;
  padding-right: 200px;
}
#cart{
  max-width:1%
 float:left;
 
}
remove{
  background-color:#14bee0
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
